<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Waypoints</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
  <header>
  <h1 class="title"><img id="login-logo" src="/images/logo.png"><span id="title">Waypoints<span></h1>
  <nav>
    <ul>
      <a href="/profile"><li class="nav-li">Profile</li></a>
      <a href="/create"><li class="nav-li">Create WP</li></a>
      <a href="/auth/logout"><li class="nav-li">Logout</li></a>
    </ul>
  </nav>
  </header> 
  <div id="homepage">
    <div id="map">
    </div>
    <br />
    <div>
      <% if (user.routes[id].waypoints.length < 2) { %>
      <h4>Add your next stop</h4>
        <form action="/waypoints/add" method="POST">
            Name: <h6><i>Ex: Home, Hotel, Etc.</i></h6><input type="text" name="name"><br />
            Location: <h6><i>Ex: 1090 Bedford Ave, Brooklyn NY, Grand Central Terminal, etc.</i></h6><input type="text" name="address"><br />
                  <input type="hidden" name="id" value=<%=id%>>
            <input type="submit" value="Submit" style="margin-top: 1vw;">
        </form>
      <% } else  { %>
      <% wypts = [] %>
    <div class="container">
      <div id="box-left" class="box">
      <h4>Route Waypoints:</h4>
      <br />
          <% user.routes[id].waypoints.forEach((waypoint, index) => { %>
          <span id="waypoint-alpha" class="waypoint-info"><%=(index+10).toString(36)%></span>
          <span class="waypoint-info"><%=waypoint.name%></span>
          <div class="form-crud">
          <% if (user.routes[id].waypoints.indexOf(waypoint) !== 0) { %>
              <form class="move-forms" action="/waypoints/moveup/waypoint" method="POST">
                  <input type="hidden" name="id" value=<%=id%>>
                  <input type="hidden" name="posId" value=<%=waypoint.pos_id%>>
                  <input type="hidden" name="index" value=<%=index%>>
                  <input id="crud-button" type="submit" value="up">
              </form>
              <% } %>
              <% last = user.routes[id].waypoints.length %>
              <% if (user.routes[id].waypoints.lastIndexOf(waypoint) !== last -1) {%>
                <form class="move-forms" action="/waypoints/movedown/waypoint" method="POST">
                    <input type="hidden" name="id" value=<%=id%>>
                    <input type="hidden" name="index" value=<%=index%>>
                    <input type="hidden" name="posId" value=<%=waypoint.pos_id%>>
                    <input id="crud-button" type="submit" value="dwn">
                </form>
              <% } %>
                <form class="move-forms" action="/waypoints/delete/waypoint" method="POST">
                    <input type="hidden" name="id" value=<%=id%>>
                    <input type="hidden" name="posId" value=<%=waypoint.pos_id%>>
                    <input id="crud-button" type="submit" value="del">
                  </form>
            </div>
              <br />
            <% wypts.push({location: waypoint.locationString, stopover: true}); %>
            <% }) %>
          <% slicedWypts = wypts.slice(1, -1) %>
        </div>
        <div id="box-right" class="box">
          <h4 id="add-loc">Add Location:</h4>
          <form action="/waypoints/add" method="POST">
              Name: <h6><i>Ex: Home, Hotel, Etc.</i></h6><input type="text" name="name"><br />
              Location: <h6><i>Ex: 1090 Bedford Ave, Brooklyn NY, Grand Central Terminal, etc.</i></h6><input type="text" name="address"><br />
                    <input type="hidden" name="id" value=<%=id%>>
              <input type="submit" value="Submit" style="margin-top: 1vw;">
          </form>
        </div>
        <% } %>
      </div>
    </div>
    </div>
    <footer>
      <div class="footer">
        <p>&copy; 2018, maikimo LLC</p>
      </div>
    </footer>
    <script>
        function initMap() {
        <% if (user.routes[id].waypoints.length === 1) { %>
          var lat = <%- user.routes[id].waypoints[0].location.lat %> 
          var lng = <%- user.routes[id].waypoints[0].location.lng %>
          console.log(lat, lng)

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat, lng}
          });

          var marker = new google.maps.Marker({
            position: {lat, lng},
            map: map,
            title: 'Hello World!'
          });
        <% } else { %>
          var directionsService = new google.maps.DirectionsService;
          var directionsDisplay = new google.maps.DirectionsRenderer;
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 20,
            center: {lat: <%=user.routes[id].waypoints[0].location.lat%>, lng: <%=user.routes[id].waypoints[0].location.lng%>}
          });
            directionsDisplay.setMap(map);

            calculateAndDisplayRoute(directionsService, directionsDisplay);

            if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            var marker = new google.maps.Marker({
              position: pos,
              map: map,
              title: 'Current Location',
              icon: {
                url: "/images/current-location.svg",
                scaledSize: new google.maps.Size(40, 40)
              }
            });

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            };
          };

          function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            id = <%=id%>
            <% wypts = [] %>
              <% user.routes[id].waypoints.forEach((waypoint, index) => { %>
              <% wypts.push({location: waypoint.locationString, stopover: true}); %>
              <% }) %>
            <% slicedWypts = wypts.slice(1, -1) %>
                sW = <%- JSON.stringify(slicedWypts) %>
            directionsService.route({
              origin: {lat: <%=user.routes[id].waypoints[0].location.lat%>, lng: <%=user.routes[id].waypoints[0].location.lng%>},
              destination: {lat: <%=user.routes[id].waypoints[user.routes[id].waypoints.length -1].location.lat%>, lng: <%=user.routes[id].waypoints[user.routes[id].waypoints.length -1].location.lng%>},
              waypoints: sW,
              optimizeWaypoints: true,
              travelMode: 'DRIVING'
            }, function(response, status) {
              if (status === 'OK') {
                directionsDisplay.setDirections(response);
              } else {
                window.alert('Directions request failed due to ' + status);
              }
            });
          <% } %>
        }
      </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpsmQEFJ1UAww2q0_sJd9qIV3vEzTneqs&callback=initMap"></script>
  </body>
  </html>