<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Waypoints</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

</head>
<body>
<div>
  </div>
  <h1 class="title">Waypoints:</h1>
  <div id="homepage">
    <div id="map">
    </div>
    <br />
    <div id="ninja">
      <h4>Username: <%= user.username %></h4>
    </div>
    <div id="ninja">
      <% if (user.routes[id].waypoints.length < 2) { %>
      <h4>Add your next stop</h4>
        <form action="/waypoints/add" method="POST">
            Name: <h6><i>Ex: Home, Hotel, Etc.</i></h6><input type="text" name="name">
            Location: <h6><i>Ex: Ex: 1090 Bedford Ave, Brooklyn NY, Grand Central Terminal, etc.</i></h6><input type="text" name="address">
            Time: <input type="time" name="time" value="12:00:00"><br />
                  <input type="hidden" name="id" value=<%=id%>>
            <input type="submit" value="Submit">
        </form>
      <% } else  { %>
      <% wypts = [] %>
      <h4>Waypoint Group:</h4>
          <% user.routes[id].waypoints.forEach((waypoint, index) => { %>
          <span id="waypoint-info"><%=(index+10).toString(36)%></span>
          <span id="waypoint-info">Time: <%=waypoint.time%></span>
          <span id="waypoint-info">Name: <%=waypoint.name%></span>
          <% if (user.routes[id].waypoints.indexOf(waypoint) !== 0) { %>
            <span class="waypoint-button">^</span>
          <% } %>
            <span class="waypoint-button">v</span>
          <span class="waypoint-button">x</span><br />
          <% wypts.push({location: waypoint.locationString, stopover: true}); %>
          <% }) %>
        <% slicedWypts = wypts.slice(1, -1) %>
        <%= slicedWypts[0].location %>
        <h4>Add Location:</h4>
        <form action="/waypoints/add" method="POST">
            Name: <h6><i>Ex: Home, Hotel, Etc.</i></h6><input type="text" name="name">
            Location: <h6><i>Ex: Ex: 1090 Bedford Ave, Brooklyn NY, Grand Central Terminal, etc.</i></h6><input type="text" name="address">
            Time: <input type="time" name="time" value="12:00:00"><br />
                  <input type="hidden" name="id" value=<%=id%>>
            <input type="submit" value="Submit">
        </form>
      <% } %>
    </div>
  </div>
  <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 20,
          center: {lat: <%=user.routes[id].waypoints[0].location.lat%>, lng: <%=user.routes[id].waypoints[0].location.lng%>}
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        id = <%=id%>
        <% wypts = [] %>
          <% user.routes[id].waypoints.forEach((waypoint, index) => { %>
          <% wypts.push({location: waypoint.locationString, stopover: true}); %>
          <% }) %>
        <% slicedWypts = wypts.slice(1, -1) %>
          sW = <%- JSON.stringify(slicedWypts) %>
        directionsService.route({
          origin: {lat: <%=user.routes[id].waypoints[0].location.lat%>, lng: <%=user.routes[id].waypoints[0].location.lng%>},
          destination: {lat: <%=user.routes[id].waypoints[user.routes[id].waypoints.length -1].location.lat%>, lng: <%=user.routes[id].waypoints[user.routes[id].waypoints.length -1].location.lng%>},
          waypoints: sW,
          optimizeWaypoints: true,
          travelMode: 'BICYCLING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

    </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpsmQEFJ1UAww2q0_sJd9qIV3vEzTneqs&callback=initMap"></script>
</body>
</html>